DATASOURCE_URL=jdbc:mysql://localhost:3306/EcommerceBackend
DATASOURCE_USER=root
DATASOURCE_PASSWORD=Ns@12345
DATASOURCE_EXPIRATIONS=86400000
DATASOURCE_SECRET=webL7IAj9NmGT6ZsMHruK6eqirQU2_9b0W8yOr6pnnjk7GuBnUcVuzl4_gZhXayeIVy1UhFJf3vq8fVi5TArskyqg
DATASOURCE_COOKIE=springBootEcom



DATASOURCE_adminUsername=adminUsername
DATASOURCE_adminEmail=adminEmail
DATASOURCE_adminPassword=adminPassword
DATASOURCE_userUsername=userUsername
DATASOURCE_userEmail=userEmail
DATASOURCE_userPassword=userPassword
DATASOURCE_sellerUsername=sellerUsername
DATASOURCE_sellerEmail=sellerEmail
DATASOURCE_sellerPassword=sellerPassword