###   This file is used to take reference   ###

DATASOURCE_URL=jdbc:postgresql://ep-curly-band-a4p0t9dn-pooler.us-east-1.aws.neon.tech/ecommerce-backend?sslmode=require
DATASOURCE_USER=neondb_owner
DATASOURCE_PASSWORD=your_database_password_here
DATASOURCE_EXPIRATIONS=86400000
DATASOURCE_SECRET=your_base64url_secret_here
DATASOURCE_COOKIE=springBootEcom



DATASOURCE_adminUsername=adminUsername
DATASOURCE_adminEmail=adminEmail
DATASOURCE_adminPassword=adminPassword
DATASOURCE_userUsername=userUsername
DATASOURCE_userEmail=userEmail
DATASOURCE_userPassword=userPassword
DATASOURCE_sellerUsername=sellerUsername
DATASOURCE_sellerEmail=sellerEmail
DATASOURCE_sellerPassword=sellerPassword